<h1>餐廳後台</h1>
<div class="row col">
  <div class="d-inline p-2">
    <a class="col" href='/admin/restaurants'>Restaurants</a><span>  |  </span> <a class="col" href='/admin/users'>Users</a>
  </div>
</div>
<br />
<br />

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row" class="pt-3">{{this.id}}</th>
      <td class="pt-3">{{this.name}}</td>
      <td class="pt-3">{{this.email}}</td>
      <td class="pt-3">{{#isAdmin this.isAdmin}}admin{{else}}user{{/isAdmin}}</td>
      
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="post">
        {{#isAdmin this.isAdmin}}
          <td>
            <input type="hidden" name="isAdmin" value="true">
            <button name="is-admin"  type="submit" class="btn btn-link">set as user</button>
          </td>
        {{else}}
          <td>
            <input type="hidden" name="isAdmin" value="false">
            <button name="is-admin" type="submit" class="btn btn-link">set as admin</button>
          </td>
        {{/isAdmin}}
        </form>
      
      </td>
      
    </tr>
    {{/each}}
  </tbody>
</table>