{{> admin-tab}}
<br />
<br />
<table class="table table-primary table-striped align-middle text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{inc @index}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.isAdmin}}</td>
        <td>          
          <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-primary">{{this.fixAdmin}}</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
