<h1>餐廳後台</h1>
<span>
    <a href='/admin/restaurants'>Restaurant</a>
    <span> | </span>
    <a href='/admin/users'>Users</a>
</span>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.isAdmin}}</td>
        <td><a href='/admin/restaurants'>{{this.fixAdmin}}</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
