{{> admin-tabs route='categories'}}

<form action="/admin/categories/{{#if category}}{{category.id}}?_method=PUT{{/if}}" method="POST" class="row mb-4">
  <div class="col-auto">
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{category.name}}"
      required>
  </div>
  <div class="col-auto">
    {{#if category}}
      <button type="submit" class="btn btn-warning">Update</button>
      <a class="btn btn-link link-secondary" href="/admin/categories">or Create New</a>
    {{else}}
      <button type="submit" class="btn btn-success">Create</button>
    {{/if}}
  </div>
</form>

<table class="table align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
              Edit
            </a>
          </button>
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-danger"
              onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>