{{>admin-tabs route='categories'}}
<div class="d-flex align-items-center pt-3 pb-5 my-3 text-white-50 bg-purple">
  {{#if category}}
    <form class="row" action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
      <div class="col-auto">
        <input class="form-control" type="text" placeholder="name" name="name" value="{{category.name}}">
      </div>
      <div class="col-auto">
        <button class="btn btn-warning" type="submit">Update</button>
        <a class="btn btn-link link-secondary" href="/admin/categories">or Create New</a>
      </div>
    </form>
  {{else}}
    <form class="row" action="/admin/categories" method="POST">
      <div class="col-auto">
        <input class="form-control" type="text" placeholder="Category Name" name="name" required>
      </div>
      <div class="col-auto">
        <button class="btn btn-success" type="submit">Create</button>
      </div>
    </form>
  {{/if}}
</div>
<table id="category-table" class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
              Edit
            </a>
          </button>
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;" class="form-{{ this.id }}">
            <button type="submit" class="btn btn-link link-danger btn-delete" data-id="{{ this.id }}">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />

<script>
// alert to confirm the deletion
const categoryTable = document.querySelector('#category-table')
categoryTable.addEventListener('click', e => {
  if (!(e.target.matches('.btn-delete'))) return
  e.preventDefault()
  swal({
    title: "確定刪除類別？",
    icon: "warning",
    text: "刪除類別後，該類別底下的餐廳會一併刪除且無法復原。",
    buttons: true,
    dangerMode: true
  }).then(check => {
    if(check) {
      const id = e.target.dataset.id
      document.querySelector(`.form-${id}`).submit()
    }
  })
})
</script>