{{>admin-user-tabs route='categories'}}
<br />
<br />
<div class="d-flex align-items-center pt-3 pb-5 my-3 text-white-50 bg-purple">
  <form class="row" action="/admin/categories" method="POST">
    <div class="col-auto">
      <input type="text" class="form-control" name="name" placeholder="Category Name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success" >create</button>
    </div>
  
</form>
</div>

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/admin/restaurants/{{this.id}}">
              Show
            </a>
          </button>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/admin/restaurants/{{this.id}}/edit">
              Edit
            </a>
          </button>
          <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-danger" onclick="return confirm(`Are you sure to delete {{this.name}}?`)">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>