{{>admin-tabs route='categories'}}
{{#if category}}
<div class="new-category mt-3">
  <form action="/admin/categories/{{category.id}}?_method=PUT" class="d-flex flex-row" method="POST">
    <input type="text" name="name" id="name" class="me-2" placeholder="Category Name" style="padding:0 6px;" value="{{category.name}}">
    <button type="submit" class="btn btn-warning">Update</button>
    <a class="btn btn-link link-secondary" href="/admin/categories">or Create New</a>
  </form>
</div>
{{else}}
<div class="new-category mt-3">
  <form action="/admin/categories" class="d-flex flex-row" method="POST">
    <input type="text" name="name" id="name" class="me-2" placeholder="Category Name" style="padding:0 6px;">
    <button type="submit" class="btn btn-success">Create</button>
  </form>
</div>
{{/if}}

<table class="table align-middle mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />