{{> admin-tabs route='categories'}}

<div class="d-flex align-items-center pt-3 pb-5 my-3 text-white-50 bg-purple">
  <form class="row" action="/admin/categories{{#if selectedCategory}}/{{selectedCategory.id}}?_method=PUT{{/if}}" method="POST">
    <div class="col-auto">
      <input type="text" class="form-control" name="name" id="name" value="{{selectedCategory.name}}" placeholder="Category Name">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-success text-decoration-none">Submit</button>
      {{#if selectedCategory}}
      <span class="text-dark">or</span>
      <a href="/admin/categories" class="btn btn-link text-decoration-none">Create new</a>
      {{/if}}
    </div>
  </form>
</div>

<br />

<table class="table align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <a href="/admin/categories/{{this.id}}" class="btn btn-link" style="text-decoration: none;"
            onmouseover="this.style.textDecoration='underline'" onmouseleave="this.style.textDecoration='none'">Edit</a>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger" style="text-decoration: none;"
            onmouseover="this.style.textDecoration='underline'" onmouseleave="this.style.textDecoration='none'">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br />
<br />