{{> admin-navbar route='categories'}}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-0">
    {{#if category}}
    <form class="d-flex" action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
      <input class="form-control me-4" type="text" name="category" id="category" placeholder="Category Name"
        value="{{category.name}}">
      <button type="submit" class="btn btn-warning">Update</button>
      <a class="btn btn-link link-secondary text-nowrap" href="/admin/categories">or Create New</a>
    </form>
    {{else}}
    <form class="d-flex" action="/admin/categories" method="POST">
      <input class="form-control me-4" type="text" name="category" id="category" placeholder="Category Name">
      <button type="submit" class="btn btn-success">Create</button>
    </form>
    {{/if}}
  </div>
</nav>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎?`)">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>