{{>admin-tabs route='categories'}}

<div class="d-flex align-items-center pt-3 pb-2 my-3 text-white-50 bg-purple">
  <form class="row" action="/admin/categories" method="POST">
    <div class="col-auto">
      <input class="form-control" type="text" name="name" id="name" placeholder="Category Name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
<table class="table align-middle">
  <thead class="thead-dark table-secondary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`Are you sure you want to delete {{ this.name }}?`)">Delete
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>