<h1>餐廳後台</h1>
<form action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
  <input type="text" name="name" id="category" placeholder="Enter Category" value="{{category.name}}">
  <button type="submit">Update</button>
</form>
<br />
<br />
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="/admin/restaurants" class="nav-link">
      Restaurants
    </a>
  </li>
  <li class="nav-item">
    <a href="/admin/users" class="nav-link">
      Users
    </a>
  </li>
  <li class="nav-item">
    <a href="/admin/categories" class="nav-link">
      Categories
    </a>
  </li>
</ul>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
              Edit
            </a>
          </button>
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-danger" onclick="return confirm(`確定要刪除{{ this.name }}嗎?`)">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>