{{> admin-tabs route='categories'}}

<form action="/admin/categories{{#if editcontent}}/{{editcontent.id}}?_method=PUT{{/if}}" method="POST">
  <div class="row">
    <div class="col-4">
      <input type="text" class="form-control" name="name" value="{{editcontent.name}}">
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除{{ this.name }}嗎？`)">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>