<h1>餐廳後台</h1>
<br />
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if isAdmin}}admin{{else}}user{{/if}}</td>
      <td><form action="/admin/users/{{this.id}}?_method=PATCH" method="POST"><button class="btn" type="submit">{{#if isAdmin}}set as user{{else}}set as admin{{/if}}</button></form></td>
    </tr>
    {{/each }}
  </tbody>
</table>

