<h1>餐廳後台</h1>
{{!-- 導覽列 --}}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#if restaurants}}active{{/if}}" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if users}}active{{/if}}" href="/admin/users">Users</a>
  </li>
</ul>


<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        {{!-- 用PATCH修改部分內容 --}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-info">set as{{#if this.isAdmin}} user{{else}}
            admin{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>