<h1>餐廳後台</h1>

<nav class="nav">
  <a class="nav-link active" aria-current="page" href="/admin/restaurants">Restaurants</a>
  <p class="my-auto">|</p>
  <a class="nav-link" href="/admin/users">Users</a>




<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}Admin{{else}}User{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
        <button type="submit" class="btn btn-link">Set as{{#if this.isAdmin}} User{{else}} Admin{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>