{{>admin-navbar}}
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{ this.id }}</th>
      <td>{{ this.name }}</td>
      <td>{{ this.email }}</td>
      <td>{{ this.admin }}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/users/{{this.id}}">
            set as user
          </a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>