{{>admin-tabs}}
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>      
      <td>{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">set as {{#if this.isAdmin}}user{{else}}admin{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>