{{> admin-switch-tabs}}
<table class="table align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">#</th>

        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>
                {{#if this.isAdmin}}
                Admin
                {{else}}
                user
                {{/if}}
            </td>
            <td>
                {{#if this.isAdmin}}
                <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-link link-danger">Set as User</button>
                </form>
                {{else}}
                <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-link link-danger">Set as Admin</button>
                </form>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>