{{>admin-tabs route='users'}}

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    {{#each users}}
    <tbody>
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{#if isAdmin}}admin{{else}}user{{/if}}</td>
            <td>
                <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-link link-danger"
                        onclick="return confirm(`確定要轉換 {{ this.name }} 嗎？`)">
                        {{#if isAdmin}}set as user{{else}}set as admin{{/if}}
                    </button>
                </form>
            </td>

        </tr>
    </tbody>
    {{/each}}
</table>
</tbody>
</table>