<<<<<<< HEAD
{{>admin-tabs route='users'}}
=======
<h1>餐廳後台</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
</ul>
<br />
<br />
>>>>>>> R01

<table class="table align-middle">
  <thead class="thead-dark">
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if isAdmin}}admin{{else}}users{{/if}}</td>
      <td>
      <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
      <button type="submit" class="btn btn-link">{{#if this.isAdmin}}set as user{{else}}set as admin{{/if}}</button>
      </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
