<h1>餐廳後台</h1>
<ul class="d-flex nav-tabs px-0 border-0">
  <li class="nav-item" style="list-style: none;">
    <a class="nav-link px-0 " href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item" style="list-style: none;">
    <span class="nav-link disabled px-1">|</span>
  </li>
  <li class="nav-item" style="list-style: none;">
    <a class="nav-link px-0" href="/admin/users">Users</a>
  </li>
</ul>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if isAdmin}}
        admin
        {{else}}
        user
        {{/if}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link text-decoration-none">
            {{#if isAdmin}}
            set as user
            {{else}}
            set as admin
            {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>