<h1>餐廳後台</h1>
<div>
    <a href="/admin/restaurants">Restaurants</a>
    <a href="/admin/users">Users</a>
</div>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
            <a>{{this.email}}</a>
        </td>
        {{#if this.isAdmin}}
        <td>
            <a>Admin</a>
        </td>
        {{else}}
        <td>
            <a>User</a>
        </td>
        {{/if}}

        {{#if this.isAdmin}}
        <td>
          <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-primary">Set As User</button>
          </form>
        </td>
        {{else}}
        <td>
          <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-primary">Set As Admin</button>
          </form>
        </td>
        {{/if}}

      </tr>
    {{/each}}
  </tbody>
</table>