<h1>餐廳後台</h1>
{{> links}}
<br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
        <td>admin</td>
      {{else}}
        <td>user</td>
      {{/if}}
      {{#if ../isUserAdmin}}
        {{#if this.isAdmin}}
          <td>
            <a class="btn btn-link" href="/admin/users/{{this.id}}">set as user</a>
          </td>
        {{else}}
          <td>
            <a class="btn btn-link" href="/admin/users/{{this.id}}">set as admin</a>
          </td>
        {{/if}}
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
