{{>admin-tabs route='users'}}
<table class="table align-middle">
  <thead class="thead-dark">
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}} Admin {{else}} User {{/if}}</td>
      <td>{{#if this.isAdmin}}
        <form name="transAdmin-{{this.id}}" action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
        <a href="javascript:document.forms['transAdmin-{{this.id}}'].submit()">Set as user</a>
        </form>
        {{else}}
        <form name="transAdmin-{{this.id}}" action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
        <a href="javascript:document.forms['transAdmin-{{this.id}}'].submit()">Set as admin</a>
        </form>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>