<h1>餐廳後台</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link text-success fs-5" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-success fs-5" href="/admin/users">Users</a>
  </li>
</ul>

<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if this.isAdmin}}
          admin
        {{else}}
          user
        {{/if}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link text-danger"
            style="text-decoration: none"
            onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">
            {{#if this.isAdmin}}
              set as user
            {{else}}
              set as admin
            </button>
          {{/if}}
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>