{{> admin-title}}
<br />
<br />
<table class="table align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{userRole this.isAdmin}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">{{becomeRole this.isAdmin}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>