<nav class="nav flex-row align-items-center justify-content-start">
  <a class="nav-link ps-0" href="/admin/restaurants">Restaurants</a>
  <span>|</span>
  <a class="nav-link active" aria-current="page" href="/admin/users">Users</a>
</nav>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{formateRole this.isAdmin}}</td>
      <td>
        {{#if this.isAdmin}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary">
            set as user
          </button>
        </form>
        {{else}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary">
            set as admin
          </button>
        </form>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>