<h1>餐廳後台</h1>
<ul class="nav nav-tabs my-3">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">Users</a>
</ul>
<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New User</button>
</a>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
      <td>
        {{!-- <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/users">
            Set as user
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/users">
            Set as admin
          </a>
        </button> --}}
         {{#if this.isAdmin}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger">Set as user</button>
        </form>
        {{/if}}
         {{#unless this.isAdmin}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger">Set as admin</button>
        </form>
        {{/unless}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>