{{>admin-tabs route='users'}}
<table class="table align-middle">
  <thead class="thead-dark">
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Change</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}} admin {{else}} user {{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link" style="text-decoration:none;" {{#if this.isLogger}}onclick="return confirm('你確定要將自己降格成一般使用者嗎')"{{/if}}>{{#if this.isAdmin}} set as user {{else}}set as
          admin{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>