{{>admin-tabs route='users'}}
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Permission</th>
    </tr>
  </thead>
  <tbody>
    {{#each users }}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      <td>Admin</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger">set as user</button>
        </form>
      </td>
      {{else}}
      <td>User</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger">set as Admin</button>
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>