<h1>餐廳後台</h1>
{{!-- Navs and tabs 頁籤 --}}
<ul class="nav justify-content-start mb-3">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
</ul>

{{!-- Tables 列表 & Button 切換按鍵 --}}
<table class="table table-dark align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>

  <tbody>
    {{#each users}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{userRole this.isAdmin}}</td>
      <form action="" method="POST">
        <td><button type="button" class="btn btn-link" onclick="">{{adminUserToggle this.isAdmin}}這邊還要改</button></td>
      </form>
    </tr>
    {{/each}}
  </tbody>
</table>