{{> view-change}}
<table class="table table-striped align-middle">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <a>{{this.email}}</a>
      </td>
      {{#if this.isAdmin}}
      <td>
        <a>admin</a>
      </td>
      {{else}}
      <td>
        <a>user</a>
      </td>
      {{/if}}

      {{#if this.isAdmin}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary">Set as user</button>
        </form>
      </td>
      {{else}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary">Set as admin</button>
        </form>
      </td>
      {{/if}}

    </tr>
    {{/each}}
  </tbody>
</table>