{{> admin-tab}}
<div class="container mt-3">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <th scope="row">{{this.id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{#if this.isAdmin}} admin {{else}} user{{/if}}</td>
          <td><button type="submit" class="btn btn-link text-decoration-none">{{#if this.isAdmin}} set as user {{else}}
              set as admin {{/if}}</button></td>
        </form>
      </tr>
      {{/each}}
    </tbody>
  </table>