{{>admin-tabs route='users'}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td >
        <form action="/admin/users/{{this.id}}/?_method=PATCH" method="POST">
          <button type="submit" class="btn-link btn py-0">{{#if this.isAdmin}}set as user{{else}}set as admin{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>