<div class="row">
  <div class="col-md-12">
    <h1>{{user.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>id:</strong> {{user.id}}</li>
        <li><strong>email:</strong> {{user.email}}</li>
        <li><strong>id_admin:</strong> {{user.isAdmin }}</li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>