{{> admin-users-rests-nav}}

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
        <td><button type="submit" class="btn btn-link" {{#ifIAmSuper ../user.id this.id }}
              onclick="return confirm('是否將自己設定為一般使用者')" {{/ifIAmSuper}}>
            Set as
            {{#if this.isAdmin}}
            User
            {{else}}
            admin
            {{/if}}
          </button></td>
      </tr>
    </form>
    {{/each}}
  </tbody>
</table>