{{> admin-tabs route='users'}}

<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark" style="color: white; background-color: #666666;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        {{!-- 用if判斷顯示 admin or user --}}
        <td>{{#if this.isAdmin}}Admin{{else}}User{{/if}}</td>
        <td>

          <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link link-primary" style="text-decoration: none;" {{fixRoleSetting this.email}}>Set as {{#if this.isAdmin}}User{{else}}Admin{{/if}}</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>