{{>admin-tabs route='users'}}
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Set</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if this.isAdmin}}admin
        {{else}}user
        {{/if}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link trans-auth" data-name={{this.name}} {{#ifCond this.id
            ../operator.id}} data-self="true" {{/ifCond}}>
            {{#if this.isAdmin}}set as user
            {{else}}set as admin
            {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>