{{>admin-tabs route='users'}}
<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      <td>admin</td>
      {{else}}
      <td>user</td>
      {{/if}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">
            {{#if this.isAdmin}}
            set as user
            {{else}}
            set as admin
            {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>