{{> admin-tabs route='users'}}

<a href='/signup'>
  <button type='button' class='btn btn-primary'>New User</button>
</a>
<br />
<br />
<table class='table table-dark align-middle table-hover table-striped'>
  <thead class='thead-dark'>
    <tr class="table-dark"></tr>
      <th scope='col'>#</th>
      <th scope='col'>Name</th>
      <th scope='col2'>Email</th>
      <th scope='col'>Role</th>
      <th scope='col'>#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope='row'>{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>
          {{#if this.isAdmin}}
            admin
          {{else}}  
            user          
          {{/if}}
        </td>
        
        <td>
          <form
            action='/admin/users/{{this.id}}?_method=PATCH'
            method='POST'
            style='display: inline;'
          >
            <button type='submit' class='btn btn-link'
                {{!-- onclick='return confirm(`確定要刪除 {{this.name}} 嗎？`)' --}}
              >
                Set as {{#if isAdmin}}user{{else}}admin{{/if}}</td>
            </button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>