{{>admin-tabs route='users'}}

<br />
<br />
<table class="table align-middle">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if this.isAdmin}}
        admin
        {{else}}
        user
        {{/if}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link" style="text-decoration: none;"
            onclick="return confirm(`確定要更改 {{ this.name }} 的權限嗎？`)">
            {{#if this.isAdmin}}
            set as user
            {{else}}
            set as admit
            {{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>