<h1>餐廳後台</h1>
<a href="/admin/restaurants" style="text-decoration:none; color: rgb(221, 130, 39)">Restaurant</a>
<span>|</span>
<a href="/admin/users" style="text-decoration:none; color: rgb(221, 130, 39)">Users</a>

<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Change role</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        {{!-- <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger" onclick="return confirm(`確定要更改 {{ this.name }}權限嗎？`)"
            style="text-decoration:none; color: rgb(221, 130, 39)">{{#if
            this.isAdmin}}set as user{{else}}set as
            admin{{/if}}</button>
        </form> --}}
        {{#if this.isAdmin}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <input type="hidden" name="isAdmin" value="false" />
          <button type="submit" class="btn btn-link link-danger">Set as User</button>
        </form>
        {{else}}
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
          <input type="hidden" name="isAdmin" value="true" />
          <button type="submit" class="btn btn-link link-danger">Set as Admin</button>
        </form>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>