<h1>餐廳後台</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Users</a>
  </li>
</ul>

<div class="mt-3">
  <table class="table align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{#if this.isAdmin}}Admin{{else}}User{{/if}}</td>
        <td>
          <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
            <button type="submit" class="btn btn-link px-0">{{#if this.isAdmin}}Set as User{{else}}Set as Admin{{/if}}</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>