{{> admin-tabs route='users'}}
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if isAdmin}}admin
        {{else}}user
        {{/if}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
        {{#if isAdmin}}
          <input class="form-control" type="hidden" name="isAdmin" id="is-admin" value="false">
          <button type="submit" class="btn btn-link">
            set as user
          </button>
        {{else}}
          <input class="form-control" type="hidden" name="isAdmin" id="is-admin" value="true">
          <button type="submit" class="btn btn-link">
            set as admin
          </button>
        {{/if}}
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>