{{> admin-navtab}}

<table class="table align-middle table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#isMatch this.email 'root@example.com'}}Super User
        {{else}}{{#if this.isAdmin}}Admin{{else}}User{{/if}}
        {{/isMatch}}
      </td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
          <button type="submit" class="btn btn-link text-decoration-none">
            {{#isMatch this.email 'root@example.com'}}Super User
            {{else}}{{#if this.isAdmin}}set as user{{else}}set as admin{{/if}}
            {{/isMatch}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
