{{>admin-tabs route='users'}}
<br />
<br />
<table class="table align-middle table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr class="table-light">
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>  
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
        {{#if this.isAdmin}}<button type="submit" class="btn btn-link" id="{{this.id}}">set as user</button>{{else}}<button type="submit" class="btn btn-link" id="{{this.id}}">set as admin</button>{{/if}}
        </form>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
