<h1>餐廳後台</h1>

  <a href="/admin/restaurants">Restaurant</a>
  <span>|</span>
  <a href="/admin/users">Users</a>

<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
        <button type="submit" class="btn btn-link">
          {{#if this.isAdmin}}set as user{{else}}set as admin{{/if}}
        </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>