<h1>{{restaurant.name}}</h1>
<p>[{{restaurant.Category.name}}]</p>
<hr>
<ul>
  <li>瀏覽次數:{{restaurant.viewCounts}}</li>
  <li>按讚數：{{restaurant.LikedUsers.length}}</li>
  <li>收藏數：{{restaurant.FavoritedUsers.length}}</li>
</ul>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>