<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <ul>
    <li><span>評論數：</span><span>{{restaurant.commentCounts}}</span></li>
    <li><span>瀏覽次數：</span><span>{{restaurant.viewCounts}}</span></li>
    <li><span>收藏數：</span><span>{{restaurant.likeCounts}}</span></li>
  </ul>
</div>
<a href="javascript:history.back()">回上一頁</a>