<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
<hr>

  <div class="col-md-4">

    <div class="well">
      <ul class="list-unstyled">
        <li><strong>•</strong> 評論數：{{restaurant.comment}}</li>
        <li><strong>•</strong> 瀏覽次數：{{restaurant.viewCounts}}</li>
        <li><strong>•</strong> 收藏數：{{restaurant.collected}}</li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>