<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <hr>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li>Comment amount: {{restaurant.Comments.length}}</li>
        <li>Review times: {{restaurant.viewCounts}}</li>
        <li>Favorite Times: {{restaurant.favoriteCount}}</li>
      </ul>
    </div>
  </div>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>