<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{restaurant.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.openingHours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    {{!-- description --}}
    <div class="row mb-5">
      <p style="white-space: break-spaces;">{{restaurant.description}}</p>
    </div>
    <div class="d-flex">
      {{!-- 儀錶板 Dashboard --}}
      <a href="/restaurants/{{restaurant.id}}/dashboard">
        <button class="btn btn-primary mb-1 me-1" type="button">Dashboard</button>
      </a>
      {{!-- Favorite --}}
      {{#if isFavorited }}
      <form action="/favorite/{{restaurant.id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger me-1">移除最愛</button>
      </form>
      {{else}}
      <form action="/favorite/{{restaurant.id}}" method="POST">
        <button type="submit" class="btn btn-primary me-1">加到最愛</button>
      </form>
      {{/if}}
      {{!-- Like --}}
      {{#if isLiked}}
      <form action="/like/{{restaurant.id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger me-1">Unlike</button>
      </form>
      {{else}}
      <form action="/like/{{restaurant.id}}" method="POST">
        <button type="submit" class="btn btn-primary me-1">Like</button>
      </form>
      {{/if}}
    </div>
  </div>
  <hr>
</div>
{{!-- Comment --}}
<h3 class="mb-3">所有評論：</h3>
{{#each restaurant.Comments}}
{{!-- 如果上一層的user.isAdmin才顯示按鈕 --}}
{{#if ../user.isAdmin}}
<form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="float-end">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{/if}}
<blockquote class="blockquote mb-0">
  <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
  <p>{{this.text}}</p>
  {{!-- 時間 --}}
  <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
</blockquote>
<hr />
{{/each}}
{{!-- enter Comment --}}
<form action="/comments" method="POST">
  <div class="form-row mb-3">
    <label class="form-label" for="text">留下評論：</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  {{!-- hidden隱藏input，client送出時會一併送出restaurant.id，並由後台req.body.restaurantId抓取 --}}
  <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>