{{> restaurant-tabs route='index'}}
<div class="row mt-3">
  <div class="col-auto mb-3">
    {{> categories-tabs}}
  </div>
</div>

<div class="row mt-3">
  {{#each restaurants}}
    <div class="col-md-4 mb-3">
      <div class="card mb-4 shadow-sm">
        <a href="/restaurants/{{this.id}}">
          <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px" height="180px"
            style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        </a>
        <div class="card-body">
          <p class="card-text">
            <a href="/restaurants/{{this.id}}">
              {{this.name}}
            </a>
          </p>
          {{#if this.Category.name}}
            <span class="badge bg-primary mb-2">{{this.Category.name}}</span>
          {{else}}
            <span class="badge bg-secondary mb-2">未分類</span>
          {{/if}}
          <p class="card-text text-truncate">{{this.description}}</p>

          <div class="btn-option d-flex">
            {{!-- 判斷是否有加入最愛，顯示不同按鈕 可寫this.isFavorited or isFavorited--}}
            {{#if isFavorited}}
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn p-0">
                  <span style="color: Tomato;"><i class="fa-solid fa-heart fa-xl"></i></span>
                </button>
              </form>
            {{else}}
              <form action="/favorite/{{this.id}}" method="POST">
                <button type="submit" class="btn p-0">
                  <span style="color: rgb(145, 145, 145);"><i class="fa-regular fa-heart fa-xl"></i></span>
                </button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}

  <nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination ">
      <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
        <a class="page-link" href="/restaurants?page={{pagination.prev}}&categoryId={{categoryId}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      {{#each pagination.pagesArr}}
        {{#ifCond this ../pagination.currentPage}}
        {{!-- 當前頁面：頁數active ＋ 點了不會跳頁，維持原頁 --}}
          <li class="page-item active">
              <a class="page-link" href="#">{{this}}</a>
          </li>
        {{else}}
        {{!-- 非當前頁面：點會跳頁 --}}
          <li class="page-item">
            <a class="page-link" href="/restaurants?page={{this}}&categoryId={{../categoryId}}">{{this}}</a>
          </li>
        {{/ifCond}}
      {{/each}}

      <li class="page-item {{#ifCond pagination.next pagination.totalPages}}disabled{{/ifCond}}">
        <a class="page-link" href="/restaurants?page={{pagination.next}}&categoryId={{categoryId}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>