<div class="container w-75 d-flex flex-column gap-4">
  <div class="d-flex gap-3">
    <a href="/restaurants" type="button" class="btn btn-secondary">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
  </div>
  <div class="row gap-3 gap-md-4">
    <div class="col-12 col-md">
      <div class="restaurant-img-container">
        <img src={{restaurant.image}} alt="餐廳" class="image" onload="this.style.opacity=1;" onerror="this.src='/public/images/default-restaurant.jpg'">
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column gap-2">
      <h3>{{restaurant.name}}</h3>
      <p><strong>分類：</strong>{{restaurant.Category.name}}</p>
      <p><strong>電話：</strong>{{restaurant.tel}}</p>
      <p><strong>營業時間：</strong>{{restaurant.openingHours}}</p>
      <p><strong>地址：</strong>{{restaurant.address}}</p>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col d-flex flex-column gap-2">
      <h3>餐廳描述</h3>
      <p>{{restaurant.description}}</p>
    </div>
  </div>
</div>