<h1>餐廳</h1>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a class="btn btn-link link-primary" href="/restaurants/{{this.id}}">
              Show
            </a>
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{!-- pagination --}}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item    
        {{#isEq prevPage 0 }}
         disabled
         {{/isEq}}">
      <a class="page-link" 
         href="/restaurants?page={{prevPage}}"
         aria-label="Previous"
         >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pages}}
    <li class="page-item {{#isEq currPage this }}active{{/isEq}}">
      <a class="page-link" href="/restaurants?page={{this}}">{{this}}</a>
    </li>
    {{/each}}
    <li class="page-item
              {{#isEq nextPage 0 }}
              disabled
              {{/isEq}}
              ">
      <a class="page-link"
         href="/restaurants?page={{nextPage}}"
         aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>