{{> restaurant-tabs route='topRestaurants'}}
<div class="d-flex justify-content-center row mt-5">
  <div class="col-md-6">
    {{#each restaurants}}
    <div class="card mb-3">
      <div class="card-body">
        <div>
          <h4>
            <a class="link-primary" href="/restaurants/{{this.id}}">{{this.name}}</a>
          </h4>
          <p><span class="badge bg-secondary">收藏數 : {{this.FavoritedUsers.length}}</span></p>
          <a href="/restaurants/{{this.id}}">
            <img  src="{{this.image}}" alt="Card image cap" width="270px" height="180px"
              style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
          </a>
          <p class="my-4" style="white-space: break-spaces;">{{this.description}}</p>
          <div class="d-flex">
            <a class="btn btn-primary m-1" href="/restaurants/{{this.id}}">show</a>
            {{#if isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger m-1">移除最愛</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-primary m-1">加到最愛</button>
            </form>
            {{/if}}
          </div>
        </div> 
      </div>
    </div>
    {{/each}}
  </div>
</div>