{{> restaurant-tab route='topRestaurants'}}

<h1>Top 10 人氣餐廳'</h1>
<hr>

<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  {{#each restaurants}}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{this.image}}" class="img-fluid rounded-start" alt="restaurant-image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="/restaurants/{{this.id}}">{{this.name}}</a></h5>
          <span class="badge bg-secondary">收藏數：{{this.favoritedCount}}</span>
          <p class="card-text">{{this.description}}</p>
          <a class="btn btn-primary" href="/restaurants/{{this.id}}/dashboard" role="button">Dashboard</a>
          {{#if this.isFavorited }}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-danger">移除最愛</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-primary">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>