{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="row" style="text-align: center;">
    {{#each restaurants}}
    <div class="row mb-5">
        <div class="col-md-4">
            <a href="/restaurants/{{this.id}}">
                <img src="{{this.image}}" width="250px" height="250px" style="transition: opacity 0.5s; opacity:0;"
                    onload="this.style.opacity=1;" />
            </a>
        </div>

        <div class="col-md-8">
            <h2>{{this.name}}</h2>
            <span class="bg-secondary badge">收藏人數：{{this.favoritedCount}}</span>
            <p>
            <div class="col-md-12">
                {{#if isFavorited}}
                <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger m-1">移除最愛</button>
                </form>
                {{else}}
                <form action="/favorite/{{this.id}}" method="POST">
                    <button type="submit" class="btn btn-primary m-1">加到最愛</button>
                </form>
                {{/if}}

                <a href="/restaurants/{{this.id}}">
                    <button type="submit" class="btn btn-primary m-1">Show</button>
                </a>

            </div>
            </p>
            <p style="white-space: break-spaces;">{{this.description}}</p>
        </div>

    </div>
    {{/each}}
</div>