{{> restaurant-tabs route='topRestaurants'}}

<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="row">
  {{#each restaurants}}
  <div class="col-11 col-md-9 border bg-white mx-auto px-0 mb-4 d-flex flex-column flex-md-row">
    
    <div class="mx-auto mx-md-0">
      <a href="/restaurants/{{this.id}}">
        {{#if this.image}}
        <img src="{{this.image}}" width="260px" height="200px" style="transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;" />
        {{else}}
        <img src="https://via.placeholder.com/140" width="260px" height="200px" />
        {{/if}}
      </a>
    </div>

    <div class="py-2 px-5">
      <a href="/restaurants/{{this.id}}">
        <h2>{{this.name}}</h2>
      </a>

      <p>
        <span class="bg-secondary badge">收藏數： {{this.favoritedCount}}</span>
        <p>{{this.description}}</p>
        <a href="/restaurants/{{this.id}}" class="btn btn-primary">Show</a>
        {{#if this.isFavorited }}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-danger">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-primary">加入最愛</button>
        </form>
        {{/if}}
      </p>
    </div>

  </div>
  {{/each}}
</div>