{{> restaurant-tabs route='topRests'}}
<h1>Top 10 人氣餐廳</h1>
<hr>
<div style="position: relative;left:27%;">
  {{#each restaurants}}
  <div class="d-flex m-3" style="width: 60%;border:1px solid lightgrey ;">
    <div class="m-3 align-self-center">
      <a href="/restaurants/{{this.id}}">
        <img src="{{this.image}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;">
      </a>
    </div>
    <div class="m-3">
      <h2><a href="/restaurants/{{this.id}}">{{this.name}}</a></h2>
      <span class=" bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
      <p class="card-text">{{this.description}}</p>
      <div class="d-flex">
        <a href="/restaurants/{{this.id}}" class="btn btn-primary m-1">Show</a>
        <p>
          {{#if isFavorited}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger m-1">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST">
          <button type="submit" class="btn btn-primary m-1">加到最愛</button>
        </form>
        {{/if}}
        </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>