{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />

  {{#each restaurants}}
  <div class="card w-75 mb-4">
    <div class="card body d-flex flex-row align-items-center">
      {{!-- pictures --}}
      <div class="col-md-3">
        <a href="/restaurants/{{this.id}}">
          <img src="{{this.image}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
        </a>
      </div>

      {{!-- name/ descriptions --}}
      <div class="col-md-6">
        <a href="/restaurants/{{this.id}}">
          <h5>{{this.name}}</h5>
        </a>
        <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
        <p class="my-4" style="white-space: break-spaces;">{{this.description}}</p>

        <div class="d-flex">
          <a href="/restaurants/{{this.id}}">
            <button class="btn btn-primary m-1">Show</button>
          </a>
          {{!-- Add/ remove favorite button --}}
          {{#if isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger m-1">移除最愛</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-primary m-1">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
