{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
{{#each restaurants}}
<div class="row w-50 m-auto mt-3 bg-white shadow rounded border p-3" style="text-align: center;">
  {{!-- <div class=""> --}}
    <div class="col-md-5 text-start mb-2">
      <a href="/restaurants/{{this.id}}">
        <img src="{{this.image}}" class="rounded shadow" max-width="200px" height="140px" style="transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;">
      </a>
    </div>
    <div class="col-md-7 text-start ">
      <a href="/restaurants/{{this.id}}">
        <h3>{{this.name}}</h3>
      </a>
      <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
      <p>{{this.description}}</p>
      <div class="mt-2">
        <a href="/restaurants/{{this.id}}"> <button class="btn btn-primary">Show</button> </a>
        {{#if this.isFavorited }}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-danger">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-primary">加到最愛</button>
        </form>
        {{/if}}
      </div>
    </div>
  {{!-- </div> --}}
</div>
{{/each}}