{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr/>

{{#each restaurants}}
<div class="card mx-auto mb-3 w-75">
  <div class="row align-items-center">
    <div class="col-md-4">
      <a href="/restaurants/{{this.id}}">
        <img src="{{this.image}}" class="img-fluid rounded-start" alt="avatar" style="height: 250px; width: 250px;">
      </a>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <a href="/restaurants/{{this.id}}">
          <h4 class="card-title">{{this.name}}</h4>
        </a>
        <span class="bg-secondary badge">收藏人數：{{this.favoritedCount}}</span>
        <p class="card-text text-truncate my-3">{{this.description}}</p>
        <div class="d-flex">
          <a href="/restaurants/{{this.id}}" class="btn btn-primary mt-1 me-2">show</a>
          {{#if isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger mt-1">移除最愛</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-primary mt-1">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}