{{> restaurant-tabs route='topRestaurants'}}
<h1>人氣餐廳</h1>
<hr />
<div class="d-flex justify-content-center">

  <div class="card-container" style="text-align: center;">
    {{#each restaurants}}
    <div class="card m-2" style="width: 600px;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <a href="/restaurants/{{this.id}}">
            <img src="{{this.image}}" class="card-img-top" alt="...">
          </a>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <a href="/restaurants/{{this.id}}" class="card-title"><h5>{{this.name}}</h5></a>
            <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
            <p class="card-text">{{this.description}}
            </p>
            <div class="btn-container d-flex justify-content-center">
              
              <a href="/restaurants/{{this.id}}">
                <button type="button" class="btn btn-primary m-1">
                Show
                </button>
              </a>
              
              {{#if isFavorited}}
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger m-1">移除最愛</button>
              </form>
              {{else}}
              <form action="/favorite/{{this.id}}" method="POST">
                <button type="submit" class="btn btn-primary m-1">加到最愛</button>
              </form>
              {{/if}}
            </div>
            
          </div>
        </div>
      </div>
    </div>
    {{/each}}
<<<<<<< HEAD
=======

    <div class="card m-2" style="width: 600px;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="https://doqvf81n9htmm.cloudfront.net/data/crop_article/112978/62.jpg_1140x855.jpg" class="card-img-top"
            alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
>>>>>>> 1f4970d (R05 作業 新增功能:TOP10人氣餐廳頁面，將Favorited餐廳依排序顯示，並計算收藏數量)
  </div>

</div>