{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="row" style="text-align: center;">
  {{#each restaurants}}
  <div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{this.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <span class="bg-secondary badge">追蹤人數：{{this.favoritedCount}}</span>
          <p class="card-text">{{this.description}}</p>
          <a href="/restaurants/{{this.id}}" class="btn btn-primary m-1">SHOW</a>
          {{#if isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger m-1">移除最愛</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-primary m-1">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>