{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="row">
  {{#each restaurants}}
  <div class="row mt-3 justify-content-center">
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row">
        <div class="col-md-4 align-self-center">
          <a href="/restaurants/{{this.id}}">
            <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px" height="180px"
              style="transition: opacity 0.5s; opacity:0; border-radius: 10px;" onload="this.style.opacity=1;">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/restaurants/{{this.id}}" style="text-decoration:none;">{{this.name}}</a>
            </h5>
            <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
            <p class="card-text">{{this.description}}</p>
            <div class="d-flex">
              <a class="btn btn-primary m-1" href="/restaurants/{{this.id}}/dashboard">show</a>
              {{#if this.isFavorited }}
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger m-1">移除最愛</button>
              </form>
              {{else}}
              <form action="/favorite/{{this.id}}" method="POST">
                <button type="submit" class="btn btn-primary m-1">加到最愛</button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>