{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 Restaurants</h1>
<h5>Top 10 人氣餐廳</h5>
<hr />
<div class="row justify-content-md-center">
  {{#each restaurants}}
  <div class="card col-7 mb-3">
    <div class="row card-body">
      <img class="col-sm-6" src="{{this.image}}" alt="{{this.name}}" />
      <div class="col-sm-6">
        <p class="card-text">
          <a href="/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge bg-secondary">Favorites: {{this.favoriteCount}}</span>
        <p class="card-text text-truncate">{{this.description}}</p>
        <div class="d-flex">
          <a href="/restaurants/{{this.id}}" class="btn btn-primary m-1">Show</a>
          {{#if this.isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger m-1">Cancel Favorite</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-primary m-1">Add to Favorite</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>