{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
{{#each restaurants}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="/restaurants/{{this.id}}">
      <img src="{{this.image}}" class="img-fluid rounded-start" alt="...">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="/restaurants/{{this.id}}">
        <h5 class="card-title">{{this.name}}</h5>
        </a>
        <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
        <p class="card-text">{{this.description}}...</p>
        <div class="d-flex mb-1">
          <a href='/restaurants/{{this.id}}'>
            <button type="button" class="btn btn-primary">Show</button>
          </a>
          {{#if isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger mx-1">移除最愛</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-primary mx-1">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
