{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="d-flex flex-column align-items-center">
  {{#each restaurants}}
    <div class="card mb-2" style="width: 40%;">
      <div class="card-body row">
        <div class="col-4">
          <img src="{{this.image}}" alt="" style="width: 100%;" />
        </div>
        <div class="col-8">
          <a class="link-primary" href="/restaurants/{{this.id}}">{{this.name}}</a>
          <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
          <p>{{this.description}}</p>
          <br />
          <a href="/restaurants/{{this.id}}" class="btn btn-primary">Show</a>
          {{#if isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger m-1">移除最愛</button>
            </form>
          {{else}}
            <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-primary m-1">加到最愛</button>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>