{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="row" style="text-align: center;">
  {{#each restaurants}}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{this.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><a href="/restaurants/{{this.id}}">{{this.name}}</a></h3>
          <h5 class="card-text">收藏數:{{this.favoritedCount}}</h5>
          <p class="card-text">{{this.Category.name}}</p>
          <p class="card-text">{{this.description}}.</p>
          <div class="d-flex">
            {{#if isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger m-1">移除最愛</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-primary m-1">加到最愛</button>
            </form>
            {{/if}}
            {{#if isLiked}}
            <form action="/like/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger m-1">Unlike</button>
            </form>
            {{else}}
            <form action="/like/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-primary m-1">Like</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>