{{> restaurant-tabs route='topRestaurants'}}
<h1>人氣餐廳</h1>
<hr>
<div class="container w-50">
    <div class="row">
        {{#each restaurants}}
            <div class="card col-12 mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4" >
                            <img class="img-fluid" src="{{this.image}}" style="box-shadow: 1px 1px 1px 0.5px #999;">
                        </div>
                        <div class="col-8">
                            <a href="/restaurants/{{this.id}}">
                                <h5 class="card-title">{{this.name}}</h5>
                            </a>
                            <span class="badge text-bg-info">收藏數： {{this.favoritedCount}}</span>
                            <p class="card-text">{{this.description}}</p>
                            <div class="d-flex">
                                <a class="btn btn-primary m-1 me-1" href="/restaurants/{{this.id}}">Show</a>
                                {{#if this.isFavorited}}
                                    <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-danger m-1 me-1">移除最愛</button>
                                    </form>
                                {{else}}
                                    <form action="/favorite/{{this.id}}" method="POST">
                                        <button type="submit" class="btn btn-primary m-1">加到最愛</button>
                                    </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
