{{> restaurant-tabs route="topRestaurants"}}

<p class="fs-1 fw-bold">Top 10 人氣餐廳</p>
<hr>

{{#each restaurants}}
  <div class="card m-auto mt-5" style="max-width: 720px;">
    <div class="d-flex">
      <div>
        <img src="{{this.image}}" class="img-fluid rounded-start" alt="..." style="width: 300px; height: 250px">
      </div>
      <div>
        <div class="card-body">
          <h3 class="card-title">
            <a href="/restaurants/{{this.id}}">{{this.name}}</a></h3>
          <p class="card-text btn btn-secondary disabled"><strong>收藏數：{{this.favoritedCount}}</strong></p>
          <p>{{this.description}}</p>
          <div class="d-flex">
            <a class="btn btn-primary m-1" href="/restaurants/{{this.id}}">Show</a>
            {{#if this.isFavorited}}
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger m-1">移除最愛</button>
              </form>
            {{else}}
              <form action="/favorite/{{this.id}}" method="POST">
                <button type="submit" class="btn btn-primary m-1">加到最愛</button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each }}