{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
<div style="width: 50%; margin:auto;">
  {{#each restaurants}}
  <div class="card mb-3 p-2">
    <div class="row g-0 d-flex justify-content-center">
      <div class="col-md-4">
        <a href="/restaurants/{{this.id}}">
          {{#if this.image}}
          <img src="{{this.image}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;" />
          {{else}}
          <img src="https://fakeimg.pl/140/" width="140px" height="140px" />
          {{/if}}
        </a>
      </div>

      <div class="col-md-8">
        <h4>{{this.name}}
          <a class="link-success" href="/restaurants?categoryId={{this.Category.id}}">
            <small class="fs-6">[{{this.Category.name}}]</small>
          </a>
        </h4>
        <span class="bg-secondary badge mb-1">收藏數：{{this.favoritedCount}}</span>
        <p class="card-text text-truncate">{{this.description}}</p>
        <a href="/restaurants/{{this.id}}" class="btn btn-primary d-inline">Show</a>
        {{#if this.isFavorited}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" class="d-inline">
          <button type="submit" class="btn btn-danger m-1">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST" class="d-inline">
          <button type="submit" class="btn btn-primary m-1">加到最愛</button>
        </form>
        {{/if}}
      </div>
    </div>
    <span class="">created {{relativeTimeFromNow this.createdAt}}</span>
  </div>
  {{/each}}
</div>