{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />

<div class="row mt-3 d-flex flex-column align-items-center">
  {{#each restaurants}}
  <div class="col-md-6 ">
    <div class="card mb-4 shadow-sm" style="max-width:540px;">
      <div class="card-body d-inline-flex">
        <div style=" width: 150px; height: 100px;position: relative;">
          <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap"
            style=" transition: opacity 0.5s; opacity:0;width: 150px; height: 100px;" onload="this.style.opacity=1;">
        </div>
        <div class="mx-2">
          <p class="card-text">
            <a href="/restaurants/{{this.id}}">
              {{this.name}}
            </a>
          </p>
          <span class="badge bg-secondary">收藏數：{{this.favoritedCount}}</span>
          <p class="card-text text-truncate">{{this.description}}</p>
          <div class="d-flex">
            <a href="/restaurants/{{this.id}}" class="btn btn-primary m-1">show</a>
            {{#if isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger m-1">移除最愛</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-primary m-1">加到最愛</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>