{{> restaurant-tabs route='topRestaurants'}}
<h1>人氣餐廳</h1>
<hr>
{{#each restaurants}}
<div class="row">
  <div class="card mx-auto mb-4" style="width: 30rem;">
    <div class="d-flex">
      {{#if this.image}}
      <img src="{{this.image}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;" />
      {{else}}
      <img src="https://via.placeholder.com/140" width="140px" height="140px" />
      {{/if}}
      <div class="card-body d-flex flex-column ">
        <a href="/restaurants/{{this.id}}">
          <h2>{{this.name}}</h2>
        </a>
        <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
        <p class="card-text">{{this.description}}</p>
        <div class="d-flex">
          <a class="btn btn-primary m-1" href=" /restaurants/{{this.id}}">show
          </a>
          {{#if this.isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger m-1">移除最愛</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-primary m-1">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}