{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />
<div class="col-8 mx-auto">
  {{#each restaurants}}
    <div class="card card-body mb-3 p-0">
      <div class="row">
        <div class="col-md-3 me-auto">
        <a href="/restaurants/{{this.id}}">
          {{#if this.image}}
            <img src="{{this.image}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
          {{else}}
            <img src="https://fakeimg.pl/140/" width="140px" height="140px" />
          {{/if}}
        </a>
        </div>
        <div class="col-md-8 py-3">
          <h4>
            <a href="/restaurants/{{this.id}}">{{this.name}}</a>
          </h4>
          <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
          <p>{{this.description}}</p>
          <div class="d-flex">
            <a href="/restaurants/{{this.id}}" class="btn btn-primary me-2">Show</a>
            {{#if this.isFavorited }}
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-danger">移除最愛</button>
              </form>
            {{else}}
              <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-primary">加到最愛</button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>