{{> restaurant-tabs route='topRestaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />

  <div class="row" style="text-align: center;">
  <div class="col-md-4 mx-auto">
    {{#each restaurants}}
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px" height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        <div class="card-body">
          <p class="card-text">
            <a href="/restaurants/{{this.id}}">
              {{this.name}}
            </a>
           </p>
           <p></p>
            <span class="bg-secondary badge">收藏人數：{{this.favoritedCount}}</span>
          </p>
          <span class="badge bg-secondary">{{this.Category.name}}</span>
          <p class="card-text text-truncate">{{this.description}}</p>
          <div class="d-flex">
            <a class="btn btn-secondary m-1" href="/restaurants/{{this.id}}">Show</a>
            {{#if this.isFavorited}}
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-danger m-1">移除最愛</button>
              </form>
            {{else}}
              <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-primary m-1">加到最愛</button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

