{{> restaurant-tabs route='topUsers'}}
<h3>Top 10 美食達人</h3>
<hr />
<div class="row row-cols-sm-2 row-cols-md-5" style="text-align: center;">
  {{#each users}}
    <div class="col">
      <a href="/users/{{this.id}}">
        <div class="user-img-container">
          <img id="previewImg" src="{{this.image}}" class="rounded" width="100%" max-width="320px" style="object-fit: cover; transition: opacity 0.5s; opacity:0;" onerror="this.src='/public/images/default-avatar.jpg'" onload="this.style.opacity=1;" />
        </div>
      </a>
      <h3>{{this.name}}</h3>
      <span class="bg-secondary badge">追蹤人數：{{this.followerCount}}</span>
      <p>
        {{#if this.canFollowed}}
          {{#if this.isFollowed }}
            <form action="/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger">取消追蹤</button>
            </form>
          {{else}}
            <form action="/following/{{this.id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-primary">追蹤</button>
            </form>
          {{/if}}
        {{else}}
        {{/if}}
      </p>
    </div>
  {{/each}}
</div>