{{> restaurant-tabs route='topRestaurant'}}
<h1>人氣餐廳</h1>
<hr />
{{!-- Restaurants --}}
<div class='row mt-3'>
  {{#each restaurants}}
    <div class='col-md-4'>
      <div class='card mb-4 shadow-sm'>
        <a href='/restaurants/{{this.id}}'>
          <img
            class='card-img-top img-fluid'
            src='{{this.image}}'
            alt='Card image cap'
            width='286px'
            height='180px'
            style='transition: opacity 0.5s; opacity:0;'
            onload='this.style.opacity=1;'
          />
        </a>
        <div class='card-body'>
          <p class='card-text'>
            <a href='/restaurants/{{this.id}}'>
              {{this.name}}
            </a>
          </p>
          <span class='badge bg-secondary'>收藏數：{{this.favoritedCount}}</span>
          <p class='card-text text-truncate'>{{this.description}}</p>
          <div class="d-flex">
            {{!-- Show --}}
            <a href='/restaurants/{{this.id}}' class="btn btn-primary m-1">Show</a>
            {{!-- Favorite button --}}
            {{#if this.isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger m-1">移除最愛</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-primary m-1">加到最愛</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>