{{> restaurant-tabs route='top-restaurants'}}
<h1>Top 10 人氣餐廳</h1>
<hr />

{{#each restaurants}}
<div class="card my-2 mx-auto" style="max-width: 600px;">

  <div class="row">

    <div class="col-md-4 ">
      <a href="/restaurants/{{this.id}}">
        <img class="m-2 rounded" src="{{this.image}}" alt="Card image cap"
          style="width: 175px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
    </div>

    <div class="col-md-8 my-1">
      <a href="/restaurants/{{this.id}}">
        <h4><strong>{{this.name}}</strong></h4>
      </a>
      <span class="bg-secondary badge">收讚數：{{this.favoritedCount}}</span>
      <p class="my-4" style="white-space: break-spaces;">{{this.description}}</p>
      <div class="d-flex">

        {{#if isFavorited}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger m-1">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST">
          <button type="submit" class="btn btn-primary m-1">加到最愛</button>
        </form>
        {{/if}}
        <a href="/restaurants/{{this.id}}" class="btn btn-outline-primary m-1"><strong>Show</strong></a>
      </div>
    </div>
  </div>

</div>
{{/each}}