<div class="row">
  <div class="col-md-12">
    <h1>Hello! I am <span style="color:olivedrab">{{user.name}}</span> :-) </h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">

  <div class="well">
    <ul class="list-unstyled">
      <li><strong>Email</strong> {{user.email}}</li>
      <li><strong>About me: </strong> {{user.description}}</li>
    </ul>
  </div>
  </div>
  <hr>
</div>
{{#if isOwner}}
  <form action="/users/{{user.id}}/edit" method="GET" style="display: inline;">
    <button type="submit" class="btn btn-small">Edit</button>
  </form>  
{{/if}} 
<br>
<a href="javascript:history.back()">回上一頁</a>