<h1>餐廳後台</h1>
{{> admin-tab route = 'categories'}}
<form style="display:flex;" class="mt-3" action="{{#if category}}/admin/categories/{{category.id}}?_method=PUT{{else}}/admin/categories{{/if}}" method="POST">
    <div class="col-md-2 me-4">
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter name"
            required value="{{category.name}}">
    </div>
    <div class="col-md-6 d-flex align-items-end">
        {{#if category}}
        <button type="submit" class="btn btn-warning me-4">
            update
        </button>
        <a href="/admin/categories">or Create new</a>
        {{else}}
        <button type="submit" class="btn btn-success">
            create
        </button>
        {{/if}}
    </div>
</form>
<br />
<table class="table align-middle">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>
                <button type="button" class="btn btn-link">
                    <a class="btn btn-link link-primary" href="/admin/categories/{{this.id}}">
                        Edit
                    </a>
                </button>
                <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-link link-danger"
                        onclick="return confirm(`是否要刪除 {{this.name}} 嗎?`)">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>