<div class="row">
    <div class="col-md-4">
        <img class="img-responsive center-block" src="{{user.image}}"
            style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;">
        <br>

    </div>
    <div class="col-md-8">
        <div class="well">
            <ul class="list-unstyled">
                <li><strong>{{user.name}}</strong></li>
                <li>{{user.email}}</li>
            </ul>
            <p><a class="btn btn-outline-secondary" href="/users/{{user.id}}/edit">edit</a></p>
        </div>
    </div>
    <hr>
    <div>
        <h3>{{user.Comments.length}} 已評論餐廳</h3>
        {{#if user.Comments}}
        {{#each user.Comments}}
        <div class="card d-inline-flex mr-2" style="width: 10rem;">
            <a href="/restaurants/{{this.Restaurant.id}}">
                <img src="{{this.Restaurant.image}}" class="card-img-top">
            </a>
        </div>
        {{/each}}
        {{else}}
        <p><strong>尚未評論餐廳</strong></p>
        {{/if}}
    </div>
</div>



<a class="btn btn-outline-secondary mt-2" href="javascript:history.back()">Back</a>