{{#if currentUser}}
<div class="d-flex row">
  <div class="col-md-4 ">
    <img class="img-responsive center-block" src="{{currentUser.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0; border-radius:50%"
      onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <h1 class="mt-2">{{currentUser.name}}</h1>
    <h3 class="mt-5">{{currentUser.email}}</h2>

      {{#ifCond user.id currentUser.id }}
      <a class="btn btn-block btn-primary mt-5" href="/users/{{user.id}}/edit">
        Edit
      </a>
      {{/ifCond}}


  </div>
</div>
<div class="card mt-5">
  <div class="card-header">
    {{#if currentUser.Comments}}
    {{currentUser.Comments.length}} 已評論餐廳
    {{else}}
    尚未評論餐廳
    {{/if}}
  </div>
  <div class="card-body">
    {{#each currentUser.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}" class="text-decoration-none">
      <img class="img-responsive center-block my-1 mx-3" src="{{this.Restaurant.image}}"
        style="width: 80px;height: 80px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </a>
    {{/each}}
  </div>
</div>

{{/if}}