<div class="row mb-5 bg-white border">
  <div class="col-6">
    <img class="rounded-circle float-start img-fluid"
    {{#if user.image}}src="{{user.image}}"
    {{else}}src="https://png.pngtree.com/element_our/20190601/ourlarge/pngtree-cartoon-character-icon-free-button-illustration-image_1373716.jpg"{{/if}} alt="..." style="width: 400px; height: 400px">
  </div>
  <div class="col-6">
    <ul>
      <li><h1>{{user.name}}</h1></li>
      <li><p>{{user.email}}</p></li>
    </ul>
  </div>
</div>
<a class="btn btn-primary" href="{{user.id}}/edit">Edit</a>
<a class="btn btn-outline-secondary" href="javascript:history.back()">回上一頁</a>