<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
  </div>
  <div class="col-md-8">
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>
    </br>
    <a class="btn btn-outline-primary" href="/users/{{user.id}}/edit">Edit</a>
  </div>
</div>
<div class="card">
  <div class="card-header">
    {{user.Comments.length}}個已評論餐廳
  </div>
  <div class="card-body">
    {{#each user.Comments}}
      <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{ this.Restaurant.image }}" alt="{{ this.Restaurant.name }}"
          class="img-fluid" style="max-width: 100px;"></a>
    {{/each}}
  </div>
</div>