<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="d-flex">
        <div class="me-3" style="height:300px; width:300px">
          {{#if targetUser.image}}
          <img src="{{targetUser.image}}" height="90%" class="rounded-circle m-3" />
          {{else}}
          <img src="https://i.imgur.com/fzuZE1k.png" height="90%" class="rounded-circle m-3" />
          {{/if}}
        </div>
        <div class="ms-5" style="height:300px">
          <div class="card-body">
            <h5 class="card-title">{{targetUser.name}}</h5>
            <p class="card-text">{{targetUser.email}}</p>
            <p class="card-text"><strong>{{comments.length}}</strong> 已評論餐廳</p>
            <br />
            {{#ifCond targetUser.id user.id}}
            <p>
              <a href="/users/{{targetUser.id}}/edit" class="btn btn-primary">edit</a>
            </p>
            {{/ifCond}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br />
    <div class="card">
      <div class="card-header">
        <strong>{{comments.length}}</strong> 已評論餐廳
      </div>
      <div class="card-body">
        {{#each comments}}
        <a href="/restaurants/{{this.restaurantId}}" class="text-decoration-none" alt="{{this.restaurant.name}}">
          <img src="{{this.Restaurant.image}}" width="60" height="60" class="avatar m-1"
            title="{{this.Restaurant.name}}" />
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
