<div class="container">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{user.image}} class="card-img" alt="Avatar">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{user.name}}</h2>
          <p class="card-text">{{user.email}}</p>
          <p class="mt-4"><strong>5&nbsp&nbsp</strong>已評論餐廳</p>
          <a href="/users/{{user.id}}/edit" class="btn btn-secondary">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      <strong>5&nbsp&nbsp</strong>已評論餐廳
    </div>
    <div class="card-body">
      <a href="/restaurants/{{this.Restaurant.id}}" class="me-2" style="text-decoration:none;">
        <img class="img-thumbnail" src="{{this.Restaurant.image}}" style="width: 100px; height:100px" alt="{{this.Restaurant.name}}">
      </a>
    </div>
  </div>
</div>