<div class="row mb-5">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <h1>{{user.name}}</h1>
    <p>[{{user.email}}]</p>
    {{#ifCond user.id sessionUser}}
    <a class="btn btn-primary" href="/users/{{../user.id}}/edit">edit</a>
    {{/ifCond}}
  </div>
</div>

<br>

<div class="row">
  <div class="card w-100 mx-0 px-0">

    <div class="card-header">
      {{count}} 間已評論的餐廳
    </div>
    <ul class="d-flex flex-wrap align-items-center">
      {{#each user.Comments}}
      <li class="m-3" style="max-width: 150px; list-style-type: none;">
        <p>{{this.Restaurant.name}}</p>
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img class="w-100" src="{{this.Restaurant.image}}" alt="restaurant image">
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>