<div class="row" >
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <br>
    </div>
    <div class="col-md-12">
      <h5>使用者：{{user.name}}</h5>
      <h5>使用者Email：{{user.email}}</h5>
    </div>
</div>


<div class="row">
  {{#ifCond comments.count 0}}
  <p>還未有有評論，快來分享吧~</p>
  {{else}}
  <p>曾評論過的餐廳：{{comments.count}}間 </p>
  {{/ifCond}}
  {{#each comments.rows}}
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <a href="/restaurants/{{this.restaurant_id}}">
        <img class="card-img-top img-fluid" src="{{this.Restaurant.image}}" alt="Card image cap" width="286px"
          height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
  </div>
</div>
{{/each}}

</div>

<a class="btn btn-outline-secondary" href="/users/{{user.id}}/edit">Edit</a>
<a class="btn btn-outline-secondary" href="javascript:history.back()">上一頁</a>


