<div class="row">
  <div class="col-md-4 mb-3">
    <img class="img-responsive center-block" src="{{user.image}}"
      style="width: 100%; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8 mb-3">
    <h5>{{user.name}}</h5>
    <p>{{user.email}}</p>
    <p><strong>{{user.Comments.length}}</strong> 已評論餐廳</p>
    <br>
    <br>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>{{user.Comments.length}}</strong> 已評論餐廳</div>
      <div class="card-body">
        {{#if user.Comments.length}}
        {{#each user.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" class="card-img-top m-3"
            alt="..." style="width: 4rem; height: 4rem;"></a>
        {{/each}}
        {{else}}
        <p>未有評論</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>