<div class="container-md">
  <div class="card mb-5">
    <div class="card-body row">
      <div class="col-md-4">
        <img class="img-responsive center-block img-circle" src="{{user.image}}"
          style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;">
      </div>
      <div class="col-md-8">
        <p><strong>{{user.name}}</strong></p>
        <p>{{user.email}}</p>
        <br>
        <a class="btn btn-outline-primary" href="/users/{{user.id}}/edit">Edit</a>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      {{#if user.Comments}}
      {{user.Comments.length}}已評論餐廳
      {{else}}
      目前沒有評論
      {{/if}}
    </div>
    <div class="card-body">
      {{#each user.Comments}}
      <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}"
          style="width:50px;height:50px;"></a>
      {{/each}}
    </div>
  </div>

</div>