<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
  </div>
  <div class="col-md-8">
    <h5>{{user.name}}</h5>
    <p>{{user.email}} </p>
    <p>{{commentCount}} 已評論餐廳 </p>
    <a href="/users/{{user.id}}/edit/"><button class="btn btn-primary">Edit</button></a>
  </div>
  <div class="col-md-12">
    <p>{{commentCount}} 已評論餐廳 </p>
  </div>
  <br>
  <div class="col-md-12">
    {{#each comments}}
    <img class="img-responsive center-block" src="{{this.Restaurant.image}}"
      style="width: 100px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    {{/each}}
  </div>

</div>