<div class="container d-flex flex-row white-block">
  <div class="mx-3">
    {{#if userData.image}}
    <img src="{{userData.image}}" alt="" style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    {{else}}
    <i class="fa-solid fa-user"></i>
    {{/if}}
  </div>
  <div>
    <h4>{{userData.name}}</h4>
    <p>{{userData.email}}</p>
    <p>{{commentCount}} 已評論餐廳</p>
    <form action="/users/{{user}}/edit" method="get">
      <button class="btn btn-primary">edit</button>
    </form>
  </div>
</div>
<div class="mt-5 gray-block">
  <h4>{{commentCount}} 已評論餐廳</h4>
</div>
<div class="white-block">
  {{#each restaurants}}
  <a href="/restaurants/{{this.restaurantId}}">
    <img class="card-img-top img-fluid mx-2 mt-2" src="{{this.Restaurant.image}}" alt="餐廳縮圖" style="width: 80px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </a>
  {{/each}}
</div>