<div class="card mb-3" style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{#if user.image}}{{user.image}}{{else}}https://static.vecteezy.com/system/resources/previews/009/734/564/original/default-avatar-profile-icon-of-social-media-user-vector.jpg{{/if}}" class="img-fluid rounded-start" alt="user's image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text"><small class="text-body-secondary">{{relativeTimeFromNow user.updatedAt}}</small></p>
        <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/users/{{user.id}}/edit';">Edit</button>
      </div>
    </div>
  </div>
</div>