<div class="container-md">
  <div class="card mb-5">
    <div class="card-body row">
      <div class="col-md-4">
        <img class="card-img-top img-fluid" src="{{user.image}}" alt="Card image cap" width="286px" height="180px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </div>
      <div class="col-md-8">
        <h5>{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">{{user.Comments.length}} 間已評論餐廳</p>
        <a href="/users/{{user.id}}/edit"><button class="nav-item btn btn-primary">Edit</button></a>
        <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  {{#ifCond user.Comments.length 0}}
  <h5>尚未有評論</h5>
  {{else}}
  <h5>{{user.Comments.length}} 間已評論餐廳</h5>
  {{#each user.Comments}}
  <div class="col-md-3">
    <div class="card mb-4 shadow-sm">
      <a href="/restaurants/{{this.Restaurant.id}}">
        <img class="card-img-top img-fluid" src="{{this.Restaurant.image}}" alt="Card image cap" width="286px"
          height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
  </div>
</div>
{{/each}}
{{/ifCond}}
</div>