<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{user.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{user.image}}" style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <div class="well">
      <ul class="list-unstyled">
        <li>{{user.name}}</li>
        <li>{{user.email}}</li>
        <li></li>
      </ul>
    </div>
  </div>
	{{#ifCond userId.id user.id}}
	<a class="btn btn-primary mb-2 col-1" href="/users/{{user.id}}/edit">Edit</a>
	{{/ifCond}}
  <hr>
</div>
