
<div class="card m-auto" style="max-width: 720px;">
  <div class="d-flex">
    <div>
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="..." style="width: 400px">
    </div>
    <div>
      <div class="card-body">
        <h3 class="card-title">{{user.name}}</h3>
        <p class="card-text">{{user.email}}</p>
        <p><strong>{{comments.count}} 已評論餐廳</strong></p>
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
        <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
      </div>
    </div>
  </div>
</div>

<div class="card m-auto mt-5" style="max-width: 720px;">
  <div class="card-header">
    <strong>{{comments.count}} 已評論餐廳</strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      {{#if comments.rows}}
        {{#each comments.rows}}
          <a href="/restaurants/{{this.Restaurant.id}}">
            <img src="{{this.Restaurant.image}}" style="width: 120px">
          </a>
        {{/each}}
      {{else}}
        <strong>尚無評論餐廳</strong>
      {{/if}}
    </blockquote>
  </div>
</div>