<div class='container text-center'>
  <div class='row'>
    <div class='col-4'>
      <img src='{{user.image}}' alt='user photo' width='90%' />
    </div>
    <div class='col-8'>
      <h5>{{user.name}}</h5>
      <p>{{user.email}}</p>
      <a href='/users/{{user.id}}/edit' class='btn btn-primary'>edit</a>
    </div>
  </div>
  <p class='h5 mt-5'>{{user.Comments.length}} 已評論餐廳</p>
  <div class='card-body'>
    <div class='row row-cols-md-12 g-4'>
      {{#each user.Comments}}
        <div class='col-2'>
          <div class='card'>
            <a href='/restaurants/{{this.restaurantId}}'><img
                src='{{this.Restaurant.image}}'
                alt='restaurant image'
                width='100%'
              /></a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>