<div class="card w-100">
  <div class="card-body">
    <img src="{{user.image}}" alt="image" class="img-thumbnail" style="height: 300px; width= 300px;">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.email}}</p>
    <p class="card-text">{{user.Comments.length}} 則已評論網站</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
  </div>
  <div class="card">
    <div class="card-header">
      {{user.Comments.length}}
      則已評論餐廳 （可點下方圖片觀看）
    </div>
    <div class="card-body">
      {{#each user.Comments}}
      <a href="/restaurants/{{this.Restaurant.id}}" class="text-decoration-none">
        <img src="{{this.Restaurant.image}}" width="100" height="100">
        {{/each}}
      </a>
    </div>
</div>