<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{user.image}}" class="img-fluid rounded-start" alt="image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">{{user.email}}</p>

                <p>{{user.Comments.length}} 已評論餐廳</p>

                <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>

                <a class="btn btn-outline-secondary" href="/">Back</a>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        {{user.Comments.length}} 已評論餐廳
    </div>
    <div class="card-body container">
        <div class="row d-flex flex-wrap gap-3 justify-content-start">
        {{#each user.Comments}}
            <div class="col col-md-auto">
                <a href="/restaurants/{{this.Restaurant.id}}" class="text-decoration-none">
                    <img class="" src="{{this.Restaurant.image}}" width="143px" height="90px"
                        style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
                    <h6>{{this.Restaurant.name}}</h6>
                </a>
            </div>
        {{/each}}
        </div>
    </div>
</div>