<div class="container d-flex bg-white border rounded p-4">
  <div >
    <img src="{{ user.image }}" alt="">
  </div>
  <div class="ms-5" style="line-height:50px; font-weight:bold;">
    <ul class="list-unstyled">
      <li>{{ user.name }}</li>
      <li>{{ user.email }}</li>
      <li>{{ commentCounts }}已評論餐廳</li>
      {{#ifCond user.id id}}
      <li class="mt-5">
        <a href="/users/{{ id }}/edit" class="btn btn-primary">edit</a>
      </li>
      {{/ifCond}}
    </ul>
  </div>
</div>
<div class="card mt-4">
  <div class="card-header">
    {{ commentCounts }}已評論餐廳
  </div>
  <div class="card-body">
    <div class="px-2 pt-2 d-flex flex-wrap">
      {{#each user.Comments}}
      <div class="me-3 mb-4">
        <a href="/restaurants/{{ this.Restaurant.id }}">
          <img src="{{ this.Restaurant.image }}" alt="" style="width:120px;height:120px" class="rounded">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
