<img src="{{ user.image }}" alt="">
<h2>{{ user.name }}</h2>
<h3>{{ user.email }}</h3>
<h3>{{ userCommentCount }}已評論的餐廳</h3>
<form action="/users/{{ user.id }}/edit" method="GET">
  <button type="submit" class="btn btn-primary">edit</button>
</form>

<div class="comments-section mt-3">
  {{#each user.Comments}}
  <a href="/restaurants/{{ this.Restaurant.id }}">
    <img src="{{ this.Restaurant.image }}" alt="" width='10%'>
  </a>
  {{/each}}
</div>