<div class="card flex-row" style="width: 100%">
  {{#if targetUser.image}}
    <img src="{{targetUser.image}}" style="width: 18rem; height: 18rem; border-radius:50%;">
  {{else}}
    <img src="https://res.cloudinary.com/dqfxgtyoi/image/upload/v1644154630/github/defaultAvatar_uapauy.png" style="width: 18rem; height: 18rem; border-radius:50%;">
  {{/if}}
  <div class="card-body mx-3">
    <h5 class="card-title">{{targetUser.name}}</h5>
    <p class="card-text">{{targetUser.email}}</p>
  {{#ifCond targetUser.id user.id}}
    <a href="/users/{{targetUser.id}}/edit" class="btn btn-primary">edit</a>
  {{/ifCond}}
  </div>
</div>