<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">{{user.Comments.length}} 已評論餐廳</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
      </div>
    </div>

  </div>

</div>
<div class="card mb-5">
  <div class="card-body">
    <p class="card-text">{{user.Comments.length}}已評論餐廳</p>
  </div>
  
  <div class="card-body " >
    {{#each user.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}" class="text-decoration-none">
    <img src="{{this.Restaurant.image}}" width="100" height="100">
    </a>
     {{/each}}
  </div>
 
</div>