<div class="row mb-1">
  <div class="col-md-12">
    <h1>{{theUser.name}}的個人頁面</h1>
    <img class="img-responsive center-block" src="{{theUser.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
  </div>
  <hr>
  <ul class="list-group list-group-flush">
    {{#ifCond theUser.id user.id}}
    <li class="list-group-item">Email: {{user.email}}
    </li>
  </ul>
  <div class="m-2">
    <a class="btn btn-primary" href="/users/{{user.id}}/edit">
      Edit
    </a>
    {{/ifCond}}
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
  <div class="card-header">
    {{theUser.Comments.length}} 已評論餐廳
  </div>
  {{#if theUser.Comments}}
  <div class="card-body">
    {{#each theUser.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}" class="text-decoration-none">
      <img src="{{this.Restaurant.image}}" class=" center-block img-responsive img-thumbnail m-2"
        style="width: 80px; height:80px" alt="restaurant-image">
    </a>
    {{/each}}
  </div>
  {{/if}}
</div>