<div class="d-flex flex-column">
  <div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="{{user.image}}" class="img-fluid rounded-start" alt="user image"
          style="width:300px;height:300px; object-fit: cover;" />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
          <p>有{{user.Comments.length}}則餐廳評論</p>
          <br>
          <br>
          <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      以下為{{user.Comments.length}}個已評論之餐廳
    </div>
    <div class="card-body d-flex flex-wrap">
      {{#if commentRestaurant}}
      {{#each commentRestaurant}}
      <div class="me-1 mb-1">
        <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" alt=""
            style="width: 100px;height:100px; object-fit: cover;"></a>
      </div>
      {{/each}}
      {{else}}
      <p>尚未留下評論</p>
      {{/if}}
    </div>
  </div>
</div>