<div class="row mb-5">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5"
      src="{{#if user.image}}{{user.image}}{{else}}https://i.imgur.com/9qWUEba.jpeg{{/if}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <p class="my-4 text-bold h4">{{user.name}}</p>
    <p class="my-4">{{user.email}}</p>
    {{#if_isMatch user.id reqUser.id}}<a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a>{{/if_isMatch}}
  </div>
</div>
<hr>
<div class="row mb-5">
  <div class="col-md-12">
    <h5 class="my-4">{{commentCounts}} 已評論餐廳</h5>
  </div>
  {{#each user.Comments}}
  <div class="col-md-2">
    <div class="card mb-4 shadow-sm">
      <a href="/restaurants/{{this.Restaurant.id}}">
        <img class="card-img-top img-fluid" src="{{this.Restaurant.image}}" alt="Card image cap"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
      <div class="card-body">
        <p class="card-text">
          <a href="/restaurants/{{this.Restaurant.id}}">
            {{this.Restaurant.name}}
          </a>
        </p>
        <span class="badge bg-secondary">{{this.Restaurant.Category.name}}</span>
      </div>
    </div>
  </div>
  {{/each}}
</div>