<div class="row bg-white py-3 mb-3" style="box-shadow: 1px 1px 1px 1px #cccccc;">
  <div class="card col-4" style="border: 0;">
    <img src="{{#if userProfile.image}}{{ userProfile.image }}{{else}}https://avatars.githubusercontent.com/u/8667311?s=200&v=4{{/if}}" alt="avatar"
      class="mx-auto"style="height: 300px; width: 300px; border-radius: 50%;">
  </div>
  <div class="col-8">
    <p class="text-secondary mb-1">
      <h3>{{ user.name }}</h3>
      <h6>{{ user.email }}</h6>
      <h3>{{ comments.length }} 已評論餐廳</h3>
    </p>
    {{#ifCond user.id userProfile.id}}
    <a href='/users/{{user.id}}/edit'>
      <button type="button" class="btn btn-primary">edit</button>
    </a>
    {{/ifCond}}
  </div>
</div>

<div class="row bg-white mb-3" style="box-shadow: 1px 1px 1px 1px #cccccc;">
  <div class="card col-12" style="height: 70px; border: 0.1; border-radius: 0%; background-color:#F8F8F8">
    <h3 class="m-3 d-flex align-items-center">{{ comments.length }} 已評論餐廳</h3>
  </div>
  <div class="col-12">
    {{#if comments}}
    {{#each comments}}
    <a href="/restaurants/{{this.restaurantId}}" style="text-decoration:none;">
      <img src="{{this.Restaurant.image}}" class="m-2" style="height: 150px; width: 150px;" alt="">
    </a>
    {{/each}}
    {{else}}
      <h5 class="m-3 d-flex align-items-center">目前無任何評論</h5>
    {{/if}}
  </div>
</div>