<div class='card mb-3 mx-auto'>
  <div class='row g-0'>
    <div class='col-md-4'>
      <img
        src='{{userProfile.image}}'
        class='img-fluid rounded-start'
        alt='...'
      />
    </div>
    <div class='col-md-8'>
      <div class='card-body'>
        <h5 class='card-title'>{{userProfile.name}}</h5>
        <p class='card-text'>{{userProfile.email}}</p>
        <p>{{comments.length}} 已評論餐廳</p>
        {{#ifCond userProfile.id user.id}}
          <a
            class='btn btn-primary'
            href='/users/{{user.id}}/edit'
            role='button'
          >edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>
<div class='mt-4'>
  <div class='card'>
    <div class='card-header'>
      <strong>{{comments.length}}</strong>
      已評論餐廳
    </div>
    <div class='card-body d-flex flex-row flex-wrap'>
      {{#if comments.length}}
        {{#each comments}}
          <a
            href='/restaurants/{{this.restaurantId}}'
            alt='{{this.Restaurant.name}}'
          >
            <img
              src='{{this.Restaurant.image}}'
              width='60'
              height='60'
              class='rounded m-2'
              title='{{this.Restaurant.name}}'
            />
          </a>
        {{/each}}
      {{else}}
        <p>尚未評論餐廳</p>
      {{/if}}
    </div>
  </div>
</div>