<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>{{user.name}}</strong></li>
        <li>{{user.email}}</li>
        <li>{{commnetRestuarantCounts}}</li>
      </ul>

    </div>
    <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">edit</a>
  </div>
  <hr>
</div>
<div class="col">
  <div class="card">
    <div class="card-header">
      {{commnetRestuarantCounts}}已評論餐廳
    </div>
    <div class="card-body">

    </div>
  </div>
</div>