<div class="user-profile d-flex justify-content-center">
  <div class="image-container d-flex align-items-center">
    {{#if user.image}}
      <img src="{{user.image}}" width="250" alt="user-image">
    {{else}}
      <img src="/image/alphacamp_logo.png" width="250" alt="user-image">
    {{/if}}  
  </div>
  <div class="profile p-5">
    <h3>{{user.name}}</h3>
    <h3>{{user.email}}</h3>
    <h3>已評論餐廳數: {{restaurantsCount}}</h3>
    <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
  </div>
</div>
{{#if user.Comments}}
  <div class="commented-restaurant-container mt-5">
    <h3 class="text-center">{{sum user.Comments}} Commented Restaurants</h3>
    <div class="commented-restaurant d-flex flex-wrap justify-content-center">
      {{#each restaurants}}
      <a href="/restaurants/{{this.id}}">
        <img src="{{this.image}}" class="m-1" alt="restaurant-image" width="100">
      </a>
      {{/each}}
    </div>
  </div>
{{/if}}