<div class="row row-cols-1 row-cols-md-2 bg-white border">
  <img class="p-2" src="{{user.image}}" alt="avatar" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  <div class="p-2">
    <h3>{{user.name}}</h3>
    <p>{{user.email}}</p>
    {{#ifCond user.id sessionUserId }}
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    {{/ifCond}}
  </div>
</div>

<br>

<div class="row">
  <div class="card w-100 mx-0 px-0">

    <div class="card-header">
      {{count}} 間已評論的餐廳
    </div>

    <ul class="d-flex flex-wrap align-items-center">
      {{#each user.Comments}}
      <li class="m-3" style="max-width: 150px; list-style-type: none;">    
        <p>{{this.Restaurant.name}}</p>

        <a href="/restaurants/{{this.Restaurant.id}}">
          <img class="w-100" src="{{this.Restaurant.image}}" alt="restaurant image">
        </a>
      </li>
      {{/each}}
    </ul>

  </div>
</div>