<div class="card mb-3" style="min-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ user.image }}" class="img-fluid rounded-start" alt="user image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <a class="btn btn-primary" href="/users/{{ user.id }}/edit">Edit</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    {{#if user.Comments.length}}
    {{user.Comments.length}} commented restaurant(s).
    {{else}}
    No commented restaurant yet.
    {{/if}}
  </div>
  <div class="card-body row">
    {{#each user.Comments}}
    <div class="col-3">
      <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{ this.Restaurant.image }}"
          alt="{{ this.Restaurant.name }}" class="img-fluid"></a>
    </div>
    {{/each}}
  </div>
</div>