<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{user.image}}" style= "width: 350px; height: 350px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
      </div>
      <a href='/users/{{user.id}}/edit'>
        <button type="button" class="btn btn-primary">edit</button>
      </a>
    </div>
  </div>
</div>

{{!-- 餐廳評論 --}}
<div class="card mb-5">
  <div class="card-header">
    {{user.Comments.length}} 已評論餐廳
  </div>
  <div class="card-body">
    <div class="row g-3">
      {{#each user.Comments}}
      <div class="col-md-1">
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img class="img-fluid" src="{{this.Restaurant.image}}" style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;">
        </a>
      </div>
      {{/each}}