<div class='card mb-3'>
  <div class='row g-0'>
    <div class='col-md-2'>
      <img src='{{user.image}}' class='img-fluid rounded-start' alt='user image' />
    </div>
    <div class='col-md-8'>
      <div class='card-body'>
        <h5 class='card-title'>{{user.name}}</h5>
        <p class='card-text'>{{user.email}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        <p class='card-text mt-3'><small class='text-muted'>Joined since {{format user.createdAt}}</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">{{commentedRestaurants}} 已評論餐廳</h5>
  <div class="card-body">
  <div class="container">
    <div class="row row-cols-auto">
      {{#each comments}}
      <div class="col">
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img src="{{this.Restaurant.image}}" class="rounded mb-3" alt="restaurant-thumbnail" style="max-width: 50px; height: auto;">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
    <p>已發表評論數：{{totalComments}}</p>
  </div>
</div>