<div class='container border rounded d-flex' style='min-height: 250px'>
  <div class='col-md-4'>
    <img
      class='img-responsive center-block mb-5'
      src='{{user.image}}'
      style='width: 300px; transition: opacity 0.5s; opacity:0;'
      onload='this.style.opacity=1;'
    />
  </div>
  <div class='col-md-8 align-self-center'>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{restaurantCount}} 已評論餐廳</p>
    <a href='/users/{{user.id}}/edit' class='btn btn-primary'>edit</a>
  </div>
</div>

<div class='border rounded mt-3'>
  <div
    style='height: 50px; background-color: rgb(242, 232, 232);'
    class='d-flex border rounded ps-3'
  >
    <p class='h5 my-auto'>{{restaurantCount}} 已評論餐廳</p>
  </div>
  <div
    class='d-flex justify-content-left align-items-center flex-wrap'
    style='min-height: 250px; overflow:scroll;'
  >
    {{#each comments}}
      <div class='m-2 d-flex flex-column align-items-center'>
        <a href='/restaurants/{{this.Restaurant.id}}'><img
            src='{{this.Restaurant.image}}'
            alt='restaurant picture'
            style='width: 100px; height: 100px;'
          /></a>
        <a
          href='/restaurants/{{this.Restaurant.id}}'
        >{{this.Restaurant.name}}</a>
      </div>
    {{/each}}
  </div>
</div>

<a
  class='btn btn-outline-secondary mt-3'
  href='javascript:history.back()'
>Back</a>