<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{user.image}}"
        style="width: 250px; margin: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <br>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">{{comments.length}} 間已評論餐廳</p>
        <p class="card-text">{{user.FavoritedRestaurants.length}} 收藏的餐廳</p>
        <p class="card-text">{{user.Followings.length}} followings (追蹤者)</p>
        <p class="card-text">{{user.Followers.length}} followers (追隨者)</p>
        <a href="/users/{{user.id}}/edit"><button class="btn btn-primary my-sm-0 my-2">edit</button></a>
      </div>
    </div>
  </div>
</div>

<div class="row g-3">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        {{user.Followings.length}} followings (追蹤者)
      </div>
      <div class="card-body">
        <div class="row row-cols-md-5 g-1">
          {{#each user.Followings}}
          <div class="col-2">
            <div class="card">
              <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" class="img-fluid"></a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        {{comments.length}} 間已評論餐廳
      </div>
      <div class="card-body">
        <div class="row row-cols-md-12 g-1">
          {{#each comments}}
            <div class="col-1">
              <div class="card">
                <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" class="img-fluid"></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>  
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        {{user.Followers.length}} followers (追隨者)
      </div>
      <div class="card-body">
        <div class="row row-cols-md-5 g-1">
          {{#each user.Followers}}
          <div class="col-2">
            <div class="card">
              <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" class="img-fluid"></a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        {{user.FavoritedRestaurants.length}} 收藏的餐廳
      </div>
      <div class="card-body">
        <div class="row row-cols-md-12 g-1">
          {{#each user.FavoritedRestaurants}}
          <div class="col-1">
            <div class="card">
              <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" class="img-fluid"></a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>