<div class="container rounded mb-5 p-3" style="box-shadow: 1px 1px 5px 2px #eee">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-8">
            <img class="rounded-circle" style="aspect-ratio: 1 / 1; object-fit: cover; height:300px; width:300px;" 
                src="{{user.image}}" alt="The Icon of {{user.name}}">
        </div>
        <div class="col-lg-8 col-md-6 col-4">
            <h1 class="user-name">{{user.name}}</h1>
            <p>{{user.email}}</p>
            {{#ifCond user.id loginUser.id}}
            {{!-- 要一樣id才會顯示edit --}}
                <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
            {{/ifCond}}
        </div>
    </div>
</div>


<div class="container rounded mb-5 p-0" style="box-shadow: 1px 1px 5px 2px #eee">
    <div class="card border-0">
        <div class="card-header">
            {{countElement restaurants}} 已評論餐廳
        </div>
        <div class="card-body">
            <div class="row">
            {{#each restaurants}}
                <div class="card col-lg-1 col-md-auto col-auto p-0 m-1" >
                        <a href="/restaurants/{{this.id}}">
                        <img src="{{this.image}}" class="card-img-top" >
                        <div class="card-body p-1">
                            <p class="card-text fs-6">{{this.name}}</p>
                        </div>
                    </a>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>