<div class="container">
  <div class="row shadow-sm bg-white p-3 mb-3">
    <div class="col-3">
      <img src="{{ user.image }}" alt="avatar" class="rounded-circle h-100 img-thumbnail">
    </div>
    <div class="col">
      <h3 class="mb-3 fw-bold">{{ user.name }}</h3>
      <h5 class="mb-3">{{ user.email }}</h5>
      <a href="/users/{{ user.id }}/edit" class="btn btn-primary">edit</a>
    </div>
  </div>
  <div class="row border p-3">{{ user.Comments.length }} 已評論餐廳</div>
  {{#if user.Comments.length}}
    <div class="row bg-white p-3">
      {{#each user.Comments}}
        <div class="col-1 mr-1">
          <a href="/restaurants/{{ this.Restaurant.id }}">
            <img src="{{ this.Restaurant.image }}" alt="" class="img-fluid">
          </a>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>