<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      {{#if user.image}}
      <img src="{{user.image}}" width="200px" height="200px" style="transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;" />
      {{else}}
      <img src="https://via.placeholder.com/200" width="200px" height="200px" />
      {{/if}}

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">已評論餐廳：{{user.Comments.length}}間</p>
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    已評論餐廳
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-6 g-4">

      {{#each user.Comments}}

      <div class="col">
        <div class="card h-100">
          <a href="/restaurants/{{this.Restaurant.id}}">
            <img src="{{this.Restaurant.image}}" class="card-img-top" alt="...">
          </a>
        </div>
      </div>

      {{/each}}

    </div>
  </div>
</div>