<div style="background-color: rgb(232, 233, 217); border-radius:30px 30px 0px 0px;padding:10px;">
  <div class="row mb-1">
    <div class="col-md-4">
      <img class="img-responsive center-block " src="{{user.image}}"
        style="width: 400px; transition: opacity 0.5s; opacity:0;border-radius:30px 0px 0px 0px ;"
        onload="this.style.opacity=1;">
    </div>
    <div class="col-md-8">
      <h1>{{user.name}}</h1>
      <p>{{user.email}}</p>
      <p class="card-test">{{#if user.Comments.length}}已評論{{user.Comments.length}}家餐廳{{else}}沒有任何評論{{/if}}</p>
      <a href="/users/{{user.id}}/edit" type="button" class="btn btn-primary">edit</a>
    </div>
  </div>
</div>

<div class="card-header" style="margin-top:10px;background-color: rgba(232, 233, 217, 0.863);font-weight:900">評論的商家連結:
</div>
<div style="background-color: rgb(232, 233, 217); border-radius:0px 0px 30px 30px;padding:10px; margin-top:0px;">
  <div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 row">
        {{#each user.Comments}}
        <div class="d-flex align-items-center col-2 mb-3">
          <a href="/restaurants/{{this.Restaurant.id}}">
            <img src={{this.Restaurant.image}} class="img-fluid rounded-start" alt="image">
          </a>
        </div>
        {{/each}}
      </blockquote>
    </div>
  </div>

</div>