<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ user.image }}" class="img-fluid rounded-start" alt="user avatar">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <p class="card-text">{{ count }} 已評論餐廳</p>
        <a href="/users/{{ user.id }}/edit" class="btn btn-primary">edit</a>
      </div>
    </div>
  </div>
</div>

<div class="card text-dark bg-light mb-3">
  <div class="card-header">{{ count }} 已評論餐廳</div>
  <div class="card-body">
    <div class="d-flex justify-content-around flex-wrap">
      {{#each comments}}
        <a href="/restaurants/{{this.restaurantId}}">
          <img src="{{ this.Restaurant.image }}" class="img-fluid rounded-start my-2" alt="restaurant image">
        </a>
      {{/each}}
    </div>
  </div>
</div>