<div class="card mb-4">
<div class="card-header">
  Profile
</div>
<div class="card-body">
    <div class="row mb-5">
      <div class="col-4">
        <img class="img-responsive center-block mb-5" src="{{#if user.image}}{{user.image}}{{else}}{{defaultProfileIcon}}{{/if}}" style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </div>
      <div class="col-8">
        <h3>{{user.name}}</h3>
        <p style="white-space: break-spaces;">{{user.email}}</p>
        {{#ifCond user.id sessionUser.id}}
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
        {{/ifCond}}
      </div>
      <hr>
      </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong>{{#if restaurants}}{{restaurants.length}}{{else}}0{{/if}}</strong> 已評論餐廳
  </div>
  <div class="card-body d-flex flex-row">
    {{#if restaurants}}
      {{#each restaurants}}
        <img class="img-responsive center-block mx-2 " src="{{this.image}}" style="width: 100px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      {{/each}}
    {{else}}
      User does not leave any comment.
    {{/if}}
  </div>
</div>
