<div class="d-flex position-relative">
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
        style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <div class="ms-5">
        <ul class="list-unstyled">
            <li><strong>Name:</strong> {{user.name}}</li>
            <li><strong>Email:</strong> {{user.email}}</li>
            <li><strong>Created date:</strong> {{createdDate}}</li>
            <li><strong>Updated date:</strong> {{updatedDate}}</li>
            <li><strong>Description:</strong> -</li>
        </ul>
        <div class="mt-5 ms-3">
            <a class="btn btn-primary" href='/users/{{user.id}}/edit'>編輯資料</a>
            <a class="btn btn-secondary" href="/">回首頁</a>
        </div>
    </div>
</div>