<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 p-3">
      <img src="{{user.image}}" class="img-fluid rounded-start " alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bold">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header fw-bold">
    {{#ifCond comments.length 0}}
    <div>尚未進行評論</div>
    {{else}}
    {{comments.length}} 已評論餐廳
    {{/ifCond}}
  </div>
  <div class="card-body row">
    {{#each comments}}
    <a href="/restaurants/{{this.Restaurant.id}}" class="col-md-1">
      <img class="figure-img img-fluid" src="{{this.Restaurant.image}}" alt="">
    </a>
    {{/each }}

  </div>
</div>