<div class="container">
  <div class="row user-profile">
    <div class="col">
      {{#if user.image}}
      <img class="img-responsive center-block col" src="{{user.image}}"
        style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      {{else}}
      <img class="img-responsive center-block" src="https://i.imgur.com/MlICwQb.jpg"
        style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      {{/if}}
    </div>
    <div class="col-8 mt-5">
      <h1 class="my-2">{{user.name}}</h1>
      <p class="my-3">{{user.email}}</p>
      <button type="button" class="btn btn-link">
        <a class="btn btn-link link-primary" href="/users/{{user.id}}/edit">
          Edit
        </a>
      </button>
    </div>
    <a class="col-2 mx-auto mt-5 btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
  <div class="row user-commented-restaurants mt-5 mx-5">

    {{#if user.Comments}}
    <p><b>{{user.Comments.length}} 已評論餐廳:</b></p>
    <div class="d-inline-flex p-2">
      {{#each user.Comments}}
      <a href="/restaurants/{{this.Restaurant.id}}">
        <img class="img-responsive center-block m-4" src="{{this.Restaurant.image}}" alt="Card image cap" width="60px"
          height="60px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>

      {{/each}}
    </div>
    {{else}}
    <p>尚無餐廳評論</p>
    {{/if}}

  </div>
</div>