<div class="card mb-3">
  <div class="row ">
    <div class="col-4">
      <img src="{{user.image}}" class="img-fluid rounded-start" style="height: 300px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p>{{comments.length}} 已評論餐廳</p>
        {{#ifCond USER.id user.id}}
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    {{comments.length}} 已評論餐廳
  </div>
  <div class="row g-0 p-3">
    {{#each comments}}
    <div class="col-md-auto px-2">
      <a href="/restaurants/{{this.restaurantId}}"><img src="{{this.Restaurant.image}}" class="img-fluid rounded-start"
          style="height: 50px; width: 50px;"></a>
    </div>
    {{/each}}
  </div>
</div>